body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333333;
}

.dark-mode {
  background-color: #333333;
  color: #f1f1f1;
}

.grey-mode {
  background-color: #635f5f;
  color: #f1f1f1;
}

.green-mode {
  background-color: aquamarine;
  color: #222;
}
